

*{
	margin:0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
}
html{
	   background-image:linear-gradient(rgba(254, 250, 244,.9),rgba(254, 250, 244,.9)) ,url('paige-cody-bOVZ_f3fbQM-unsplash.jpg'); 
color: #fcfeff;
background-position:center;
background-size: cover;
}
body{
	
}
img{
	width:100%;
}




/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {

  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
  color:#D98880 ;
  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background: #d98880;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 100vh;
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
  }
  .nav-link {
    text-align: center;
  }
  .toggler {
    display: block;
  }
}
/*end of navbar*/







/*buy*/
.buy{
   background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('teo-duldulao-4op9_2Bt2Eg-unsplash.jpg');
height:40vh;
background-position:center;
background-size: cover;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
 
font-size: 3rem;
}


/* end of buy*/


/* inside*/
.inside{
  color: #D98880;
 display: grid;
 
  grid-gap: .6rem;
  width:80%;
  margin:90px auto;
  padding:40px ;
  background-image: repeating-linear-gradient(135deg, rgba(240, 240, 240,0.02) 0px, rgba(240, 240, 240,0.02) 21px,rgba(224, 224, 224,0.02) 21px, rgba(224, 224, 224,0.02) 42px,rgba(208, 208, 208,0.02) 42px, rgba(208, 208, 208,0.02) 63px,rgba(192, 192, 192,0.02) 63px, rgba(192, 192, 192,0.02) 84px,rgba(175, 175, 175,0.02) 84px, rgba(175, 175, 175,0.02) 105px,rgba(159, 159, 159,0.02) 105px, rgba(159, 159, 159,0.02) 126px,rgba(143, 143, 143,0.02) 126px, rgba(143, 143, 143,0.02) 147px,rgba(127, 127, 127,0.02) 147px, rgba(127, 127, 127,0.02) 168px),repeating-linear-gradient(45deg, rgba(232, 232, 232,0.02) 0px, rgba(232, 232, 232,0.02) 21px,rgba(209, 209, 209,0.02) 21px, rgba(209, 209, 209,0.02) 42px,rgba(185, 185, 185,0.02) 42px, rgba(185, 185, 185,0.02) 63px,rgba(162, 162, 162,0.02) 63px, rgba(162, 162, 162,0.02) 84px,rgba(138, 138, 138,0.02) 84px, rgba(138, 138, 138,0.02) 105px,rgba(115, 115, 115,0.02) 105px, rgba(115, 115, 115,0.02) 126px,rgba(91, 91, 91,0.02) 126px, rgba(91, 91, 91,0.02) 147px,rgba(68, 68, 68,0.02) 147px, rgba(68, 68, 68,0.02) 168px),linear-gradient(90deg, #ffffff,#ffffff);
  margin-top: -40px;
  border-radius: 10px;
}
.only{
  display: grid;
 
  grid-gap: 1rem;
}

/* end of inside*/































































































































































































   
    footer{
      width: auto;
      margin-top:10px;
      padding: 0 160px 0 ;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    footer p{
      line-height: 180%;
      color: #D98880;
    }
    footer h6,footer div{
      margin-bottom: 20px;
    } 
    footer  h6{
      margin-top: 25px;
      font-size: 12px;
      color: #D98880;
    }
    footer span{
      color: #D98880 ;
    }
   footer a{
      text-decoration: none;
      color: #D98880 ;
    }
    footer div .one{
      margin-bottom: 20px;
      text-transform: none;
    }
    footer .details{
      display: flex;
      flex-wrap: wrap;
    }
    footer .details div{
      width: 150px;
      margin-right: 20px;
    }
    footer .details div p{
      text-transform: uppercase;
    }
    footer .details div span{
      margin-bottom: 20px;
    }
    footer  .contact{
      width: 340px;
    }
    footer .information{
      margin-right: 20px;
    }
    footer .information p{
      margin-bottom: 8px;
    }
    footer .account p{
      margin-bottom: 8px;
      width: 150px;
    }
    footer .newsletter p, input{
      padding: 5px;
    }
     footer .newsletter a {

      color:#fcfeff;
     }
    footer .newsletter input{
      width: 170px;
      margin-bottom: 20px;
      border-style: none;
      background-color: #4d4d4d;
      color: #a29e9e;
    }
    footer .newsletter input::placeholder{
      color: #a29e9e;
      font-size: 10px;
    }
    footer .newsletter button{
      padding: 7px 12px;
      margin-left: 4px;
      color: #fff;
      background-color: #f00;
      font-size: 10px;
      border-style: none;
    }
    footer .newsletter a{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
    }
    footer .newsletter a:first-of-type{
      background-color: #4267B2;
    }
    footer .newsletter a:nth-of-type(2){
      background-color:  #1da1f2;
    }
    footer .newsletter a:nth-of-type(3){
      background-color:  #f00;
    }
    footer .newsletter a:nth-of-type(4){
      background-color: #8a50ca;
    }
    
    footer .newsletter a:last-of-type{
      background-color: #eeaa2f;
      color: #333;
    }
    footer a:hover {
    color: rgba(0, 0, 0, .3); 
    transform: scale(1.3);
    transition: all .2s ease-in-out;      
    }
    /* start media footer */
    @media (max-width: 767px) {
      footer{
        padding: 15px 30px;
        justify-content: initial;
    }
      footer .information{
        width: 120px;
      }
      footer .account{
        width: 120px;
      }
    }
    /* end media footer */
    



/*media queries*/
@media(max-width:1304px){
.inside{
grid-template-columns: .8fr 2fr;

}

}

@media(max-width:1256px){
.inside{
grid-template-columns: .8fr 1.5fr;

}

}

@media(max-width:1231px){
.inside{
grid-template-columns: .8fr 1.5fr;
width: 90%;

}

}

@media(max-width:1095px){
.inside{
grid-template-columns: 1fr 1.2fr;
width: 90%;

}

}
@media(max-width:996px){
.inside{
grid-template-columns: 1fr 1fr;
width: 95%;

}
.only{
  margin-top: 1rem;
}

}
@media(max-width:988px){
.inside{
width: 70%;
display: block;
margin: 20px auto;
text-align: center;
}

.inside img{
  width:50%;
}

}

@media(max-width:737px){
.inside{
width: 70%;
display: block;
margin: 20px auto;
text-align: center;
}

.inside img{
  width:60%;
}

}


@media(max-width:664px){
.inside{
font-size: .8rem;
}

.inside img{
  width:60%;
}

}

@media(max-width:532px){


.inside img{
  width:70%;
}

}


@media(max-width:492px){


.inside img{
  width:90%;
}

}

@media(max-width:410px){


.inside img{
  width:97%;
}

}

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































